<table>
	<tr>
	</tr>
	<tr>
		<td style="width:50%;" align="center">
			<a href= <%= root_path+"#{@cdo_output_path}_all.gif" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_all.gif", width: "50%" %>
				<br/>Click image to enlarge
			</a>
		</td>
	</tr>
</table>
<p/>
<table>
	<tbody>
	<tr>
		<% if can? :download, :nc %>
			<td>
			<%= link_to "Download NC", root_path+@cdo_output_path.to_s+".nc", download: "#{@type}_#{@date}_#{@var}_#{@lon_lat}.nc" %>
		</td>
		<% end # if can? :download, :nc %>
		<% if can? :download, :ctl %>
			<td>
			<%= link_to "Download CTL", root_path+@cdo_output_path.to_s+".ctl", download: "#{@type}_#{@date}_#{@var}_#{@lon_lat}.ctl" %>
		</td>
		<% end # if can? :download, :ctl %>
		<% if can? :download, :csv %>
			<% end # if can? :download, :csv %>
	</tr>
	</tbody>
</table>

