<table>
	<tr>
	</tr>
	<tr>
		<td style="width:50%;" align="center">
			<a href= <%= root_path+"#{@cdo_output_path}_all.gif" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_all.gif", width: "50%" %>
				<br/>Click image to enlarge
			</a>
		</td>
	</tr>
</table>
<p/>
<%= @data %>

