<table>
	<tr>
	</tr>
	<tr>
		<td style="width:50%;" align="center">
			<a href= <%= root_path+"#{@cdo_output_path}_all.gif" %> target = "_blank" >
				<%= image_tag root_path+"#{@cdo_output_path}_all.gif", width: "50%" %>
				<br/>Click image to enlarge
			</a>
		</td>
	</tr>
</table>
<p/>
	<table>
		<tbody>
		<tr>
			<% if can? :download, :nc %>
			<td>
				<%= button_to "Download NC", root_path+@cdo_output_path.to_s+".nc", method: :get %>
			</td>
			<% end # if can? :download, :nc %>
			<% if can? :download, :ctl %>
			<td>
				<%#= button_to "Download CTL", root_path+@cdo_output_path.to_s+".ctl", method: :get %>
			</td>
			<% end # if can? :download, :ctl %>
			<% if can? :download, :csv %>
			<td>
				<%#= button_to "Download CSV", root_path+@cdo_output_path.to_s+".csv", method: :get %>
			</td>
			<% end # if can? :download, :csv %>
		</tr>
		</tbody>
	</table>

