<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Thanks for signing up, Dear <%= @user.username %>!</h2>
<p>
The Climate Data Access and Analysis System (CDAAS) is a simple web based portal to access and analyse different Global Climate models, gridded observation data sets and downscaled regional climate model products. 
</p>
<p>
User with access to the system can select the region of interest and get the respective data sets in various formats for further analysis. This aims to have a hassle free tool for both end users to visualize the products and for experts for detailed analysis.
</p>
<p>Thanks for joining CDAAS.RIMES!</p>
</body>
</html>

