<table>
	<thead>
		<tr>
			<th>1.Select Variable Name</th>
		</tr>
	</thead>
	<tr>
		<td>
			<%= select(:part1, params[:part1], options_for_select(Ecmwf::Var.all.map{|i| [i.name, i.var, {'title': i.remark } ]}), {include_blank: "- Select Variable -"}, required: true) rescue nil %>
		</td>
	</tr>
</table>


<table>
	<thead>
		<tr>
			<th>2.Select Forcasting Type</th>
		</tr>
	</thead>
	<tr>
		<td>
			<%= select(:part4, params[:part4], options_for_select(Ecmwf::Type.all.map{|i| [i.name, i.folder, {'title': i.remark } ]}), {include_blank: "- Select Forcasting -"}, required: true) rescue nil %>
		</td>
	</tr>
</table>

<%= render "layouts/partials/datepicker"%>

<table>
	<thead>
		<tr>
			<th>3.Select Date</th>
		</tr>
	</thead>

	<tr>
		<td>
			<%= text_field :date, params[:date], id: "sel_date", value: Date.yesterday.to_s, required: true rescue nil %>
		</td>
		<!--td>-</td>
		<td>
			<%#= text_field :e_date, params[:e_date], id: "e_date", placeholder: "End Date", required: true rescue nil %>
		</td-->
	</tr>
</table>


