<table>
	<thead>
		<tr>
			<th>Analysis Operations</th>
			<th>
				<div class="buttons">
					<input type="button" class="analysis" value="Show"/>
				</div>
			</th>
		</tr>
	</thead>
</table>

<div class="content_analysis" style="display:none" >


	<%= render "cmip5s/form_analysis" %>

	<div class="buttons">
		<input type="button" class="analysis" value="Hide"/>
	</div>

</div>
