<%= form_for(@cmip5) do |f| %>
  <% if @cmip5.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cmip5.errors.count, "error") %> prohibited this cmip5 from being saved:</h2>

      <ul>
      <% @cmip5.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
