<div class="inner">
	<h2>DSMS.RIMES</h2>
	<p>Data Sharing & Management System<br />
	Maintained by <a href="http://www.rimes.int">RIMES</a>.</p>
	<ul class="actions">
		<li>
		<%= link_to 'sign up',new_user_registration_path, class: 'button special' %> 
		</li>
		<li>
		<%= link_to 'Log In', new_user_session_path, class: 'button special'  %>  
		</li>
	</ul>
</div>

