<div class="inner">
	<h2>CDAAS.RIMES</h2>
	<p><font color=white>Climate Data Sharing & Analysis System<br />
		Maintained by <a href="http://www.rimes.int">RIMES</a>.</font></p>
	<ul class="actions">
		<li>
			<%= link_to 'sign up',new_user_registration_path, class: 'button special' %> 
		</li>
		<li>
			<%= link_to 'Log In', new_user_session_path, class: 'button special'  %>  
		</li>
		<li>
			<%= link_to 'Guest', main_site_index_path, class: 'button special'  %>  
		</li>

	</ul>
</div>

<%#= $stderr.to_a %>
<%#= $folder_name %>
