<h2>Selected Months Analysis</h2>

<%= line_chart [
	{name: "Max", data: @ymon_max_h },
	{name: "Min", data: @ymon_min_h },
	{name: "Mean", data: @ymon_mean_h }
], 
discrete: true, 
library: {
	title: {text: "Monthly Data Analysis"},
	subtitle: {text: "#{@var_std_name.humanize} | Unit: #{@unit} | #{@sdate.to_date.strftime('%Y-%m-%d')}--#{@edate.to_date.strftime('%Y-%m-%d')}"}
} %>

<p/>

<%= line_chart [
	{name: "Avg-Max", data: @yy_avg_max_h },
	{name: "Avg-Mean", data: @yy_avg_mean_h },
	{name: "Avg-Min", data: @yy_avg_min_h }
], 
discrete: true, 
library: {
	title: {text: "Yearly Average Data Analysis"},
	subtitle: {text: "#{@var_std_name.humanize} | Unit: #{@unit} | #{@sdate.to_date.strftime('%Y-%m-%d')}--#{@edate.to_date.strftime('%Y-%m-%d')}"}
} %>

<p/>
