<h2>Selected Months Analysis</h2>

<%= Cdo.info(input: @sel_months) %>
<%#= @months_data.to_a %>
		<table>
			<tr>
				<td>Date</td>
				<td>Min</td>
				<td>Mean</td>
				<td>Max</td>
			</tr>
			<%# @months_data[1..-1].each do |md| %>

				<tr>
				<td><%#= md.split(" ")[0] %></td>
				<td><%#= md.split(" ")[1] %></td>
				<td><%#= md.split(" ")[2] %></td>
				<td><%#= md.split(" ")[3] %></td>
			</tr>
		<%# end %>
		</table>


<%#= line_chart [
	{name: "Max", data: @max_min_h },
	{name: "Min", data: @min_min_h },
	{name: "Mean", data: @mean_min_h }
], 
discrete: true, 
library: {
	title: {text: "Seasonal Minimum Data Analysis"},
	subtitle: {text: "#{@var_std_name.humanize} | Unit: #{@unit}"}
} %>

<p/>

<%#= line_chart [
	{name: "Max", data: @max_max_h },
	{name: "Min", data: @min_max_h },
	{name: "Mean", data: @mean_max_h }
], 
discrete: true, 
library: {
	title: {text: "Seasonal Maximum Data Analysis"},
	subtitle: {text: "#{@var_std_name.humanize} | Unit: #{@unit}"}
} %>

<p/>
