<!-- Footer -->
<footer id="footer">
	<ul class="copyright">
		<li>CDAAS &copy; RIMES <%= Time.now.year%></li><li><a href="http://www.rimes.int">Regional Integrated Multi-Hazard Early Warning System</a></li>
	</ul>
</footer>

