* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


#map {
	background: #fff;
	width: 90%;
	height: 100%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	position: relative;
}


#result {
	background: #fff;
	width: 90%;
	left: 6%;
	right: 6%;
	bottom: 5%;
	position: relative;

	-webkit-box-shadow: 0 -1px 15px rgba(0,0,0, 0.2);
	box-shadow: 0 -1px 15px rgba(0,0,0, 0.2);
}

#result input[type='text'] {
	width: 80%;
}
